<html>
  <head>
    <title>The Encyclopedia of Books</title>
    <link href="/../static/styles.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <nav>
      <span id="site-name">The Encyclopedia of Books</span>
    </nav>
    <h1>Are you sure you want to delete the entry for "{{ entry.title }}"?</h1>
    <form id="confirm-deletion" method="post">
      <input type="submit" name="Yes" value="Yes"></input>
      <input type="submit" name="No" value="No"></input>
    </form>
  </body>
</html>
